*.d
*.o
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.log
*.manifest
*.suo
*.ncb
*.opt
*.aps
*.user
*.suo
*.ncb
*.opt
*.aps
*.user
*.sdf
*.opensdf
*.dbmdl
*.dbproj
*.sln
*.suo
*.ncb
*.opt
*.aps
*.user
*.sdf
*.opensdf
*.dbmdl
*.dbproj
*.sln
*.userprefs
*.suo
*.ncb
*.opt