## .NET
bin/
obj/
publish/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code / IDE
.vs/
.vscode/
*.swp

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Logs
logs/
